#box1{
  background-color: white;
}

#box-img{
  position: relative;
}

#edit-icon{
  position:absolute;
  top: 25px;
  right: 20px;
  i{
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    padding: 12px;
  }
}

#profile-img{
  position: absolute;
  bottom: -30px;
  left: 20px;
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
  }
}

#skills{
  background-color: #DDE7F1;
  width: 80%;
  border-radius: 20px;

}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
display: flex;
padding: 0 0.5em;
color: #666;
font-size: 0.9em;
line-height: 2;
border-radius: 0.25em;
text-align: end;
justify-content: flex-end;
}
i:hover{
  cursor: pointer;
  }


