<div class="d-flex px-4 justify-content-between">
  <div class="img-comment d-flex clickable">
    <img *ngIf="data" [src]="data.image" alt="profile-pic" class="rounded-circle">
    <i class="bi bi-caret-down-fill text-secondary ms-1"></i>
  </div>
  <div class="d-flex align-items-baseline" ngbDropdown placement="top">
    <div id="dropdownBasic2" ngbDropdownToggle class="clickable">
      <div class=" d-flex align-items-baseline">
        <i class="bi bi-hand-thumbs-up text-secondary"></i>
        <p class="text-secondary ms-1">Consiglia</p>
      </div>
    </div>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
      <div class="box-reaction" id="react-1" ngbDropdownItem>
        <img src="https://static.licdn.com/sc/h/f4ly07ldn7194ciimghrumv3l" alt="reaction">
      </div>
      <div class="box-reaction" id="react-2" ngbDropdownItem>
        <img src="https://static.licdn.com/sc/h/3c4dl0u9dy2zjlon6tf5jxlqo" alt="reaction">
      </div>
      <div class="box-reaction" id="react-3" ngbDropdownItem>
        <img src="https://static.licdn.com/sc/h/9whrgl1hq2kfxjqr9gqwoqrdi" alt="reaction">
      </div>
      <div class="box-reaction" id="react-4" ngbDropdownItem>
        <img src="https://static.licdn.com/sc/h/asmf650x603bcwgefb4heo6bm" alt="reaction">
      </div>
      <div class="box-reaction" id="react-5" ngbDropdownItem>
        <img src="https://static.licdn.com/sc/h/39axkb4qe8q95ieljrhqhkxvl" alt="reaction">
      </div>
      <div class="box-reaction" id="react-6" ngbDropdownItem>
        <img src="https://static.licdn.com/sc/h/ktcgulanbxpl0foz1uckibdl" alt="reaction">
      </div>
    </div>
  </div>
  <div class=" d-flex align-items-baseline clickable">

    <i class="bi bi-chat-text text-secondary"></i>
    <p class="text-secondary ms-1" (click)="showHideComment();getAllComments()">Commenta</p>
  </div>
  <div class="d-flex align-items-baseline clickable">
    <i class="bi bi-arrow-left-right text-secondary"></i>
    <p class="text-secondary ms-1">Diffondi il post</p>
  </div>
  <div class="d-flex align-items-baseline clickable">
    <i class="bi bi-send text-secondary"></i>
    <p class="text-secondary ms-1">Invia</p>
  </div>
</div>
<!--  upper end-->

<div class="align-items-center mt-2 mx-auto p-3" [ngClass]="class">
  <!--  <div id="profile-img-comment">-->
  <!--    <img *ngIf="data" [src]="data.image" alt="" class="rounded-circle">-->
  <!--  </div>-->
  <div>
    <form (submit)="insertComment()">
      <input [(ngModel)]="commentString" [ngModelOptions]="{standalone: true}" type="text" id="add-post"
             placeholder=" Aggiungi un commento..."
             class="rounded-pill border border-1 py-1 ms-2 border border-2 mb-2">
    </form>
    <div *ngIf="allComments" class="d-flex flex-column">
      <div *ngFor="let comment of allComments" class="d-flex justify-content-between px-5">
        <p class="p-2 rounded-4" id="bg-comment">
          {{comment.comment}}
        </p>
        <i class="bi bi-x-lg text-secondary" *ngIf="userPostId === data._id" (click)="deleteComment(comment._id)"></i>
      </div>
    </div>
  </div>
</div>
