#add-post {
  width: 450px;
}

.user-info {
  font-size: 0.8em;
}

.img-comment {
  img {
    width: 25px;
    height: 25px;
  }
}

#profile-img-comment {
  img {
    width: 30px;
  }
}
.onLoad {
  background: #666666;
  border-radius: 5px;
  color: transparent;
}
.dropdown-toggle::after {
  display: none;
}
.show {
  display: flex;
}
.clickable:hover {
  cursor: pointer;
}
