<div class="container-fluid">
  <div class="row">
    <div class="col col-2 offset-1 mt-4 px-0">
      <div id="box-img">
        <img
          src="https://marketplace.canva.com/EAE2cQaUHVA/1/0/1600w/canva-black-minimal-motivation-quote-linkedin-banner-HoRi-2buBWk.jpg"
          alt="cover"
          class="img-fluid rounded-top-2 w-100"
        />
        <div id="profile-img">
          <img *ngIf="data" [src]="data.image" alt="profile-pic" class=""/>
        </div>
      </div>

      <div *ngIf="data" class="bg-white rounded-bottom-2 pb-2">
        <h6 class="pt-4 text-center clickable">
          {{ data.name }} {{ data.surname }}
        </h6>
        <p class="text-secondary text-center px-2">{{ data.title }}</p>
        <hr/>
        <p class="mb-0 text-secondary px-2 clickable">Collegamenti</p>
        <a routerLink="/my-network" class="text-decoration-none"
        ><p class="mb-0 text-secondary px-2 clickable">
          Espandi la tua rete
        </p></a
        >
        <p class="mb-0 text-secondary px-2">
          <a
            href="https://www.youtube.com/watch?v=kWHAEydIIB4"
            class="text-secondary text-decoration-none"
            target="_blank"
          >Chi ha visitato il tuo profilo</a
          >
        </p>
        <hr/>
        <p class="mb-0 text-secondary px-2">
          Accedi a strumenti e informazioni in esclusiva
        </p>
        <p class="mb-0 px-2 text-decoration-underline clickable">
          Fatti assumere più velocemente prova premium gratis
        </p>
        <hr/>
        <i class="bi bi-bookmark-fill text-secondary px-2"></i>
        <span>I miei elementi</span>
      </div>
      <div class="bg-white rounded-2 pb-2 mt-2 sezioneSticky">
        <div class="d-flex align-items-center justify-content-between">
          <div class="mt-2">
            <p class="px-2 text-primary fw-bold mb-2 clickable">Gruppi</p>
            <p class="px-2 text-primary fw-bold mb-2 clickable">Eventi</p>
            <p class="px-2 text-primary fw-bold mb-2 clickable">
              Hashtag seguiti
            </p>
          </div>
          <div>
            <i class="bi bi-plus text-secondary fs-2 pe-2 clickable"></i>
          </div>
        </div>
        <hr/>
        <h6 class="px-2 text-secondary clickable">Scopri di più</h6>
      </div>
    </div>
    <!-- COLONNA CENTRALE -->
    <div class="col col-5 mt-4 mx-2 p-0">
      <div class="bg-white border rounded-3">
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <div id="profile-img-post">
            <img
              *ngIf="data"
              [src]="data.image"
              alt=""
              class="rounded-circle"
            />
          </div>
          <div>
            <form (submit)="createPost()" [formGroup]="formPost">
              <input
                formControlName="text"
                type="text"
                id="add-post"
                placeholder=" Avvia un post"
                class="rounded-pill border border-1 py-2 ms-3"
              />
            </form>
          </div>
        </div>

        <div class="d-flex px-4 justify-content-between">
          <div class="text-primary d-flex align-items-baseline">
            <i class="bi bi-image"></i>
            <p class="text-secondary ms-1">Contenuti multimediali</p>
          </div>
          <div class="text-warning d-flex align-items-baseline">
            <i class="bi bi-calendar3"></i>
            <p class="text-secondary ms-1">Evento</p>
          </div>
          <div class="text-danger d-flex align-items-baseline">
            <i class="bi bi-journal-richtext"></i>
            <p class="text-secondary ms-1">Scrivi un articolo</p>
          </div>
        </div>
      </div>
      <!-- POST --------------------------------------------------------------------------------------------- -->
      <div class="bg-white border rounded-3 mt-3">
        <div class="d-flex align-items-start justify-content-between px-3">
          <div class="d-flex align-items-center mt-2 py-3">
            <div id="profile-img-post">
              <img
                *ngIf="data"
                [src]="data.image"
                alt=""
                class="rounded-circle"
              />
            </div>
            <div class="d-flex flex-column ms-2">
              <div>
                <h6 class="mb-0">
                  Nando Martellone
                  <span class="text-secondary">&centerdot; 1&deg;</span>
                </h6>
                <p class="text-secondary p-0 m-0 user-info">Data Architect</p>
                <p class="text-secondary p-0 m-0 user-info">
                  21 minuti
                  <span>&centerdot; <i class="bi bi-globe-americas"></i></span>
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex mt-2">
            <!--  -->

            <div ngbDropdown class="d-inline-block m-0">
              <button
                type="button"
                class="border-0 p-0 bg-white text-white"
                id="dropdown1"
                ngbDropdownToggle
              >
                <i class="bi bi-three-dots text-secondary m-0"></i>
              </button>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdown1"
                class="border-0 drop"
              >
                <!-- items as buttons -->
                <button ngbDropdownItem class="text-secondary">
                  nascondi post
                </button>
              </div>
            </div>
            <!--  -->

            <i class="bi bi-x-lg text-secondary"></i>
          </div>
        </div>
        <div>
          <p class="ms-4">Annuncio il mio nuovo spettacolo Bucio de CUUULOO</p>
        </div>
        <div class="d-flex px-4 justify-content-between">
          <div class="img-comment d-flex">
            <img
              *ngIf="data"
              [src]="data.image"
              alt="profile-pic"
              class="rounded-circle"
            />
            <i class="bi bi-caret-down-fill text-secondary ms-1"></i>
          </div>
          <div class="d-flex align-items-baseline" ngbDropdown placement="top">
            <div id="dropdownBasic2" ngbDropdownToggle class="clickable">
              <div class=" d-flex align-items-baseline">
                <i class="bi bi-hand-thumbs-up text-secondary"></i>
                <p class="text-secondary ms-1">Consiglia</p>
              </div>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <div class="box-reaction" id="react-1" ngbDropdownItem>
                <img src="https://static.licdn.com/sc/h/f4ly07ldn7194ciimghrumv3l" alt="reaction">
              </div>
              <div class="box-reaction" id="react-2" ngbDropdownItem>
                <img src="https://static.licdn.com/sc/h/3c4dl0u9dy2zjlon6tf5jxlqo" alt="reaction">
              </div>
              <div class="box-reaction" id="react-3" ngbDropdownItem>
                <img src="https://static.licdn.com/sc/h/9whrgl1hq2kfxjqr9gqwoqrdi" alt="reaction">
              </div>
              <div class="box-reaction" id="react-4" ngbDropdownItem>
                <img src="https://static.licdn.com/sc/h/asmf650x603bcwgefb4heo6bm" alt="reaction">
              </div>
              <div class="box-reaction" id="react-5" ngbDropdownItem>
                <img src="https://static.licdn.com/sc/h/39axkb4qe8q95ieljrhqhkxvl" alt="reaction">
              </div>
              <div class="box-reaction" id="react-6" ngbDropdownItem>
                <img src="https://static.licdn.com/sc/h/ktcgulanbxpl0foz1uckibdl" alt="reaction">
              </div>
            </div>
          </div>


          <!--   fine reactione-->
          <div class="d-flex align-items-baseline">
            <i class="bi bi-chat-text text-secondary"></i>
            <p class="text-secondary ms-1">Commenta</p>
          </div>
          <div class="d-flex align-items-baseline">
            <i class="bi bi-arrow-left-right text-secondary"></i>
            <p class="text-secondary ms-1">Diffondi il post</p>
          </div>
          <div class="d-flex align-items-baseline">
            <i class="bi bi-send text-secondary"></i>
            <p class="text-secondary ms-1">Invia</p>
          </div>
        </div>
        <div class="d-flex align-items-center mt-2 mx-auto p-3">
          <div id="profile-img-comment">
            <img
              *ngIf="data"
              [src]="data.image"
              alt=""
              class="rounded-circle"
            />
          </div>
          <div>
            <input
              type="text"
              id="add-post"
              placeholder=" Aggiungi un commento..."
              class="rounded-pill border border-1 py-1 ms-2 border border-2"
            />
          </div>
        </div>
      </div>

      <div
        class="bg-white border rounded-3 mt-3"
        *ngFor="let post of maxPostToDisplay"
      >
        <div class="d-flex align-items-start justify-content-between px-3">
          <div class="d-flex align-items-center mt-2 py-3">
            <div id="profile-img-post">
              <img
                *ngIf="maxPostToDisplay"
                [src]="post.user.image"
                alt=""
                class="rounded-circle clickable"
              />
            </div>
            <div class="d-flex flex-column ms-2">
              <div>
                <h6 class="mb-0 clickable">
                  {{ post.user.name }} {{ post.user.surname }}
                  <span class="text-secondary">&centerdot; 1&deg;</span>
                </h6>
                <p class="text-secondary p-0 m-0 user-info">
                  {{ post.user.title }}
                </p>
                <p class="text-secondary p-0 m-0 user-info">
                  {{ post.createdAt | date : "HH:ss - MMM-YY" }}
                  <span>&centerdot; <i class="bi bi-globe-americas"></i></span>
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex mt-2">
            <div ngbDropdown class="d-inline-block m-0">
              <button
                type="button"
                class="border-0 p-0 bg-white text-white"
                id="dropdown1"
                ngbDropdownToggle
              >
                <i class="bi bi-three-dots text-secondary m-0"></i>
              </button>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdown1"
                class="border-0 drop"
              >
                <!-- items as buttons -->
                <button ngbDropdownItem class="text-secondary">
                  nascondi post
                </button>
              </div>
            </div>
            <i
              class="bi bi-x-lg text-secondary"
              *ngIf="post.user._id === data._id"
              (click)="deletePost(post._id)"
            ></i>
          </div>
        </div>
        <div>
          <p class="ms-4">{{ post.text }}</p>
        </div>
        <!--          component qui-->
        <app-footer-post
          [elId]="post._id"
          [userPostId]="post.user._id"
          [data]="data"
        >
        </app-footer-post>

        <!--    fine    -->
        <div class="comment area" *ngFor="let comment of allComments">
          <p *ngIf="comment.elementId === post._id">
            {{ comment.comment }}
          </p>
        </div>
      </div>

      <div *ngIf="loading" class="text-center py-3">
        <img
          class="loading-text"
          src="../../../assets/img/icons8-linkedin-48.png"
          alt="logo"
        />
        <p class="loading-text fs-4">Recupero Post...</p>
      </div>
    </div>
    <div class="col col-3 mt-4">
      <div class="bg-white border rounded-3 py-3">
        <!--inizio colonna destra -->
        <div class="d-flex flex-column p-2">
          <div class="p-2 d-flex justify-content-between">
            <h6>Add to your feed</h6>
            <i class="bi bi-info-square-fill pt-2 clickable"></i>
          </div>

          <div class="d-flex align-items-center">
            <div class="logo-box me-3 clickable">
              <img
                src="../../../assets/img/meta.jpg"
                alt="logo"
                class="logo img-fluid"
              />
            </div>
            <div class="d-flex flex-column align-items-start">
              <a
                href="https://it-it.facebook.com/"
                class="text-dark link-underline link-underline-opacity-0"
              >
                <p class="h6 m-0 clickable">Meta</p></a
              >
              <small class="mt-2">
                Company &centerdot; Computer Software
              </small>
              <button class="btn border-dark rounded-pill follow-btn mt-2">
                + Follow
              </button>
            </div>
          </div>

          <div class="d-flex align-items-center mt-3">
            <div class="logo-box me-3 clickable">
              <img
                src="../../../assets/img/amazon.jpg"
                alt="logo"
                class="img-fluid"
              />
            </div>
            <div class="d-flex flex-column align-items-start">
              <a
                href="https://www.amazon.it/"
                class="text-dark link-underline link-underline-opacity-0"
              >
                <p class="h6 m-0 clickable">Amazon</p>
              </a>
              <small class="mt-2">
                Company &centerdot; Computer Software
              </small>
              <button class="btn border-dark rounded-pill follow-btn mt-2">
                + Follow
              </button>
            </div>
          </div>

          <div class="d-flex align-items-center mt-3">
            <div class="logo-box me-3 clickable">
              <img
                src="../../../assets/img/adobe.jpg"
                alt="logo"
                class="img-fluid"
              />
            </div>
            <div class="d-flex flex-column align-items-start">
              <a
                href=" https://www.adobe.com/it/"
                class="text-dark link-underline link-underline-opacity-0"
              >
                <p class="h6 m-0 clickable">Adobe</p>
              </a>
              <small class="mt-2">
                Company &centerdot; Computer Software
              </small>
              <button class="btn border-dark rounded-pill follow-btn mt-2">
                + Follow
              </button>
            </div>
          </div>
          <div
            class="d-flex align-items-center gap-1 clickable recommendation mt-4 ms-2 justify-content-start p-1"
          >
            <p class="m-0">View all recommendation</p>
            <i class="bi bi-arrow-right pt-1"></i>
          </div>
        </div>
      </div>
      <div class="bg-white border rounded-3 py-3 mt-2 clickable sezioneSticky">
        <div class="d-flex justify-content-end pe-3 gap-1 mt-2">
          <p class="m-0">Ad</p>
          <i class="bi bi-three-dots clickable"></i>
        </div>
        <div
          class="d-flex justify-content-center flex-column align-items-center mt-2"
        >
          <small *ngIf="data"
          >{{ data.name }}, boost your job search with Premium</small
          >
          <div class="d-flex mt-2">
            <div class="logo-box-ad me-2">
              <img
                *ngIf="data"
                [src]="data.image"
                alt="profile pic"
                class="profile-pic rounded-circle"
              />
            </div>
            <div>
              <img
                src="../../../assets/img/premium.jpg"
                alt="linkedin-logo"
                class="profile-pic"
              />
            </div>
          </div>
          <p class="px-3">See who's viewed your profile in the last 90 days</p>
          <button
            class="btn border-2 border-primary text-primary rounded-pill mt-2"
          >
            Try for free!
          </button>
        </div>
      </div>
      <!-- Inizio footer -->
      <div class="d-flex flex-column align-items-center mt-4">
        <div class="mb-2">
          <span class="text-center text-secondary me-3 textFooter"
            >Informazioni</span
          >
          <span class="text-center text-secondary textFooter"
            >Accessibilità</span
          >
        </div>
        <p class="textFooter mb-2 text-secondary">Centro assistenza</p>
        <p class="textFooter mb-2 text-secondary">Privacy e condizioni</p>
        <p class="textFooter mb-2 text-secondary">
          Opzioni per gli annunci pubblicitari
        </p>
        <div>
          <span class="me-4 textFooter text-secondary mb-2">Pubblicità</span>
          <span class="textFooter text-secondary">Servizi alle aziende</span>
        </div>
        <div class="mb-4">
          <span class="textFooter text-secondary me-3"
            >Scarica l'app LinkedIn</span
          >
          <span class="textFooter text-secondary">Altro</span>
        </div>
        <div class="mb-4">
          <img
            class="imgFooter"
            src="https://loghi-famosi.com/wp-content/uploads/2020/04/Linkedin-Logo.png"
            alt="logo footer"
          />
          <span class="ms-1">LinkedIn Corporation &copy; 2023 </span>
        </div>
      </div>
      <!-- Fine footer -->
    </div>
  </div>
</div>
