<div class="container-fluid">
  <div class="row">
    <div class="col col-2 mt-4 ms-5 px-0">
      <div id="box-img">
        <img
          src="https://marketplace.canva.com/EAE2cQaUHVA/1/0/1600w/canva-black-minimal-motivation-quote-linkedin-banner-HoRi-2buBWk.jpg"
          alt="cover"
          class="img-fluid rounded-top-2 w-100"
        />
        <div id="profile-img">
          <img *ngIf="data" [src]="data.image" alt="profile-pic" class="" />
        </div>
      </div>

      <div *ngIf="data" class="bg-white">
        <h6 class="pt-4 text-center">{{ data.name }} {{ data.surname }}</h6>
        <p class="text-secondary text-center px-2">{{ data.title }}</p>
        <hr />
        <p>Collegamenti</p>
        <p>Espandi la tua rete</p>
        <p>Chi ha visitato il tuo profilo</p>
        <hr />
      </div>
    </div>

    <div class="col col-6 border mt-4 mx-2 p-0">
      <div class="bg-white border rounded-5">
        <div id="profile-img-post">
          <img *ngIf="data" [src]="data.image" alt="" class="rounded-circle" />
        </div>
      </div>
    </div>
    <div class="col col-3 border mt-4 border rounded-5">
      <div class="bg-white border rounded-5 py-3">
        <!--inizio colonna destra -->
        <div class="d-flex flex-column p-2">
          <div class="p-2 d-flex justify-content-between">
            <h6>Add to your feed</h6>
            <i class="bi bi-info-square-fill pt-2 clickable"></i>
          </div>

          <div class="d-flex align-items-center">
            <div class="logo-box me-3 clickable">
              <img
                src="../../../assets/img/meta.jpg"
                alt="logo"
                class="logo img-fluid"
              />
            </div>
            <div class="d-flex flex-column align-items-start">
              <p class="h6 m-0 clickable">Meta</p>
              <small class="mt-2">
                Company &centerdot; Computer Software
              </small>
              <button class="btn border-dark rounded-pill follow-btn mt-2">
                + Follow
              </button>
            </div>
          </div>

          <div class="d-flex align-items-center mt-3">
            <div class="logo-box me-3 clickable">
              <img
                src="../../../assets/img/amazon.jpg"
                alt="logo"
                class="img-fluid"
              />
            </div>
            <div class="d-flex flex-column align-items-start">
              <p class="h6 m-0 clickable">Amazon</p>
              <small class="mt-2">
                Company &centerdot; Computer Software
              </small>
              <button class="btn border-dark rounded-pill follow-btn mt-2">
                + Follow
              </button>
            </div>
          </div>

          <div class="d-flex align-items-center mt-3">
            <div class="logo-box me-3 clickable">
              <img
                src="../../../assets/img/adobe.jpg"
                alt="logo"
                class="img-fluid"
              />
            </div>
            <div class="d-flex flex-column align-items-start">
              <p class="h6 m-0 clickable">Adobe</p>
              <small class="mt-2">
                Company &centerdot; Computer Software
              </small>
              <button class="btn border-dark rounded-pill follow-btn mt-2">
                + Follow
              </button>
            </div>
          </div>
          <div
            class="d-flex align-items-center gap-1 clickable recommendation mt-4 ms-2 justify-content-start p-1"
          >
            <p class="m-0">View all recommendation</p>
            <i class="bi bi-arrow-right pt-1"></i>
          </div>
        </div>
      </div>
      <div class="bg-white border rounded-5 py-3 mt-2 clickable">
        <div class="d-flex justify-content-end pe-3 gap-1 mt-2">
          <p class="m-0">Ad</p>
          <i class="bi bi-three-dots clickable"></i>
        </div>
        <div
          class="d-flex justify-content-center flex-column align-items-center mt-2"
        >
          <small *ngIf="data"
            >{{ data.name }}, boost your jon search with Premium</small
          >
          <div class="d-flex mt-2">
            <div class="logo-box">
              <img
                *ngIf="data"
                [src]="data.image"
                alt="profile pic"
                class="profile-pic"
              />
            </div>
            <div>
              <img
                src="../../../assets/img/premium.jpg"
                alt="linkedin-logo"
                class="profile-pic"
              />
            </div>
          </div>
          <p>See who's viewed your profile in the last 90 days</p>
          <button
            class="btn border-2 border-primary text-primary rounded-pill mt-2"
          >
            Try for free!
          </button>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="formPost">
    <label for="examplepost" class="form-label">Pubblica post</label>
    <input
      type="text"
      class="form-control"
      id="examplepost"
      placeholder="scrivi cosa pensi"
      formControlName="text"
    />
    <button (click)="createPost()">pubblica post</button>
  </form>
  <button (click)="deletePost()">elimina post</button>
</div>
