.sub-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white; /* Modifica il colore di sfondo come desideri */
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.6);
  transform: translateY(-100%);
  transition: transform 0.8s ease-in-out;
}

.sub-navbar.visible {
  transform: translateY(63px);
  transition: transform 1s ease-in-out;
  z-index: 10000;
}
.heigh-row {
  height: 60px;
}
#img-subnav {
  width: 40px;
  border-radius: 50%;
}
#hover-button1:hover {
  background-color: #ebebeb;
}
#hover-button2:hover {
  background-color: #e2f0fe;
}
