<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-1 me-1 me-lg-0" [ngClass]="class">
      <form class="d-flex" role="search">
        <img src="../../../assets/img/icons8-linkedin-48.png" alt="logo" />
        <input
          #search
          (focus)="changeStat()"
          (focusout)="changeStat()"
          class="form-control me-2 d-none d-lg-flex"
          type="search"
          placeholder="    Search"
          aria-label="Search"
        />
      </form>
    </div>
    <div class="col-6 d-flex gap-5">
      <div
        class="d-flex d-lg-none justify-content-center align-items-start flex-column section"
      >
        <i class="bi bi-search menu"></i>
        <p class="m-0">Search</p>
      </div>
      <div
        class="d-flex justify-content-center align-items-center flex-column section"
        routerLink="/home"
      >
        <i class="bi bi-house-door-fill menu"></i>
        <p class="m-0">Home</p>
      </div>
      <div
        class="d-flex justify-content-center align-items-center flex-column section"
        routerLink="/my-network"
      >
        <i class="bi bi-people-fill menu"></i>
        <p class="m-0">My Network</p>
      </div>
      <div
        class="d-flex justify-content-center align-items-center flex-column section"
        routerLink="/jobs"
      >
        <i class="bi bi-briefcase-fill menu"></i>
        <p class="m-0">Jobs</p>
      </div>
      <div
        class="d-flex justify-content-center align-items-center flex-column section"
        routerLink="/notifications"
      >
        <i class="bi bi-chat-dots-fill menu"></i>
        <p class="m-0">Notifications</p>
      </div>
      <div
        ngbDropdown
        class="img-cont d-flex justify-content-end align-items-center flex-column section gap-2"
      >
        <img
          *ngIf="data"
          id="profile-pic"
          [src]="data.image"
          alt="profilepic"
          class="w-75"
          id="dropdownBasic1"
          ngbDropdownToggle
        />

        <p class="m-0" id="dropdownBasic1" ngbDropdownToggle>Me</p>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div></div>
          <button class="d-flex" ngbDropdownItem>
            <img
              class="img-cont"
              routerLink="/user-profile"
              id="profile-pic "
              [src]="data.image"
              alt="profilepic"
            />
            <div class="flex-column">
              <span class="fw-bold ms-2"
                >{{ data.name }} {{ data.surname }}</span
              >
              <p class="ms-2">{{ data.title }}</p>
              <button
                class="btn btn-outline-primary rounded-pill d-flex"
                routerLink="/user-profile"
              >
                Visualizza Profilo
              </button>
              <hr />
            </div>
          </button>

          <h6 class="fw-bold" ngbDropdownItem>Account</h6>
          <p class="fs-6 fw-bold text-secondary" ngbDropdownItem>
            Prova Premium gratis
          </p>
          <button ngbDropdownItem>Impostazioni e privacy</button>
          <button ngbDropdownItem>Guida</button>
          <button ngbDropdownItem>Lingua</button>
          <hr />
          <h6 class="fw-bold" ngbDropdownItem>Gestisci</h6>
          <button ngbDropdownItem>Post e attività</button>
          <button ngbDropdownItem>
            Account per la pubblicazione di off...
          </button>
          <hr />

          <button ngbDropdownItem>Esci</button>
        </div>
      </div>
    </div>
  </div>
</div>
