<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-5">
      <form class="d-flex" role="search">
        <img src="../../../assets/img/icons8-linkedin-48.png" alt="logo">
        <input class="form-control me-2" type="search" placeholder="    Search" aria-label="Search">
      </form>
    </div>
    <div class="col-6 d-flex gap-5">
      <div class="d-flex justify-content-center align-items-center flex-column section">
        <i class="bi bi-house-door-fill menu"></i>
        <p class="m-0">Home</p>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column section">
        <i class="bi bi-people-fill menu"></i>
        <p class="m-0">My Network</p>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column section">
        <i class="bi bi-briefcase-fill menu"></i>
        <p class="m-0">Jobs</p>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column section">
        <i class="bi bi-chat-dots-fill menu"></i>
        <p class="m-0">Notifications</p>
      </div>
      <div class="img-cont d-flex justify-content-end align-items-center flex-column section gap-2">
        <img id="profile-pic" [src]="data.image" alt="profilepic" class="w-75">
        <p class="m-0">Me <i class="bi bi-caret-down-fill"></i></p>
      </div>
    </div>
  </div>
</div>
